<!DOCTYPE html>
<html>
	<head>
		<title>Philly Bus Explorer</title>
		<link rel="stylesheet" type="text/css" href="css/explorer_map.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="js/markerAnimate.js"></script>
		<script type="text/javascript" src="js/markerwithlabel.js"></script>
		<script type="text/javascript" src= "js/busExplorer.js"></script>
	</head>
	<body><%= yield %></body>
</html>