<!DOCTYPE html>
<html>
	<head>
		<title>Nottingham Traffic Accidents</title>
		<link rel="stylesheet" type="text/css" href="css/ncc_map.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="js/markerAnimate.js"></script>
		<script type="text/javascript" src="js/markerwithlabel.js"></script>
		<script type="text/javascript" src= "js/nccAccidents.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32865952-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>

<div id="header" style="background-color: #ffffcc">Header</div>
<div id="container">
	<div id="left" style="background-color: #ffffaa">SIDEBAR SCROLLABLE</div>
    <div id="mapcontainer">MAP HERE</div>
</div>


<div id="footer" style="background-color: black"><span id="footer-span">James Tyack <a href="http://www.tyack.net/wp" target="_blank">www.tyack.net</a> | Data source: <a href="http://www.opendatanottingham.org.uk/dataset.aspx?id=84" target="_blank">Open Data Nottingham Traffic Accident Casualties</a></span></div>

</body>
</html>