<!DOCTYPE html>
<html>
	<head>
		<title>Nottinghamshire Traffic Accidents</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link href="css/nottingham-traffic.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->

	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://www.tyack.net">James Tyack</a>
					</div>
					<ul class="nav navbar-nav">
						<!--<li class="active">
						<a href="http://www.tyack.net">Blog</a>
						</li>-->
						<li>
							<a href="http://www.tyack.net">About</a>
						</li>
						<!--<li>
						<a href="#contact">Contact</a>
						</li>-->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Open Data and Civic Apps<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/unlockphiladelphia">Unlock Philadelphia - Mapping transit and building accessiblity</a>
								</li>
								<li>
									<a href="/phillybusexplorer">Philly Bus Explorer</a>
								</li>
								<!--<li>
								<a href="#">Something else here</a>
								</li>
								<li class="divider"></li>
								<li class="dropdown-header">
								Nav header
								</li>
								<li>
								<a href="#">Separated link</a>
								</li>
								<li>
								<a href="#">One more separated link</a>
								</li>-->
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<!-- Begin page content -->
			<div class="container">
				<div class="row spacer">
					<div class="col-md-3">
						<h4>Nottinghamshire Traffic Accidents</h4>
						<div class="btn-group" data-toggle="buttons" id="yearRadios">
							<label class="btn btn-default btn-sm">
								<input type="radio" name="year" id="year2009" value="2009">
								2009 </label>
							<label class="btn btn-default btn-sm">
								<input type="radio" name="year" id="year2010" value="2010">
								2010 </label>
							<label class="btn btn-default btn-sm">
								<input type="radio" name="year" id="year2011" value="2011">
								2011 </label>
							<label class="btn btn-default btn-sm active">
								<input type="radio" name="year" id="year2012" value="2012">
								2012 </label>
							<!--<label class="btn btn-default btn-sm">
							<input type="radio" name="year" id="yearAll" value="ALL">
							All</label>-->
						</div>
						<div class="panel panel-default spacer">
							<div class="panel-heading">
								View traffic accidents
							</div>
							<div class="panel-body">
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypeseverity" value="OverallSeverity" checked>
										By severity</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypepedestrian" value="Pedestrian">
										Where pedestrian(s) injured</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypetimeOfDay" value="TimeOfDay">
										By time of day</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypevehiclesInvolved" value="VehiclesInvolved">
										By number of vehicles involved</label>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Filter by severity
							</div>
							<div class="panel-body">
								<div class="radio">
									<label>
										<input type="checkbox" name="severityOptions" id="severitySlight" value="Slight" checked>
										Slight</label>
								</div>
								<div class="radio">
									<label>
										<input type="checkbox" name="severityOptions" id="severitySerious" value="Serious" checked>
										Serious</label>
								</div>
								<div class="radio">
									<label>
										<input type="checkbox" name="severityOptions" id="severityFatal" value="Fatal" checked>
										Fatal</label>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								Zoom to
							</div>
							<div class="panel-body">
								<button type="button" id="btnShowCity" value="City" class="btn btn-default btn-sm">
									City of Nottingham
								</button>
								<button type="button" id="btnShowCounty" value="County" class="btn btn-default btn-sm">
									County
								</button>
								<div class='spacer-small'></div>
								<button type="button" id="btnShowMansfield" value="Mansfield" class="btn btn-default btn-sm">
									Mansfield
								</button>
								<button type="button" id="btnShowNewark" value="Newark" class="btn btn-default btn-sm">
									Newark
								</button>
								<button type="button" id="btnShowWorksop" value="Worksop" class="btn btn-default btn-sm">
									Worksop
								</button>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="map"></div>
					</div>
				</div>
				<div class="well">
					Please leave comments, suggestions and feedback below. Visualisation designed and developed by <a href="http://www.tyack.net">James Tyack</a> using data from Open Data Nottingham.  The source can be found at <a href="http://www.opendatanottingham.org.uk/dataset.aspx?id=84" target="_blank">Open Data Nottingham Traffic Accident Casualties</a>; please follow the link for details about the data set and how to download it, along with lots of other open data. Uninjured persons are not included in the data set and grid references are not always exact.
				</div>
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'tyackherokuapps';
					// required: replace example with your forum shortname

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script');
						dsq.type = 'text/javascript';
						dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>
					Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
				</noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</div>
		</div>
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.10.2.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="js/leaflet.js"></script>
		<script src="js/nottingham-traffic.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32865952-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>