<!DOCTYPE html>
<html>
	<head>
		<title>Nottingham Traffic Accidents</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link href="css/nottingham-traffic.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->

	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Nottingham Traffic Accidents</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#about">About</a>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">More <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Action</a>
									</li>
									<li>
										<a href="#">Another action</a>
									</li>
									<li>
										<a href="#">Something else here</a>
									</li>
									<li class="divider"></li>
									<li class="dropdown-header">
										Nav header
									</li>
									<li>
										<a href="#">Separated link</a>
									</li>
									<li>
										<a href="#">One more separated link</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>

			<!-- Begin page content -->
			<div class="container">
				<div class="row spacer">
					<div class="col-md-3">
						<div class="btn-group" data-toggle="buttons" id="yearRadios">
							<!--<label class="btn btn-primary">
								<input type="radio" name="year" id="year2009">
								2009 </label>
							<label class="btn btn-primary">
								<input type="radio" name="year" id="year2010">
								2010 </label>
							<label class="btn btn-primary">
								<input type="radio" name="year" id="year2011">
								2011 </label>-->
							<label class="btn btn-primary active">
								<input type="radio" name="year" id="year2012">
								2012 </label>
						</div>
						<div class="well spacer">
							<p>
								Show accidents with severity
							</p>
							<div class="radio">
								<label>
									<input type="checkbox" name="severityOptions" id="severitySlight" value="Slight">
									Slight </label>
							</div>
							<div class="radio">
								<label>
									<input type="checkbox" name="severityOptions" id="severitySerious" value="Serious">
									Serious </label>
							</div>
							<div class="radio">
								<label>
									<input type="checkbox" name="severityOptions" id="severityFatal" value="Fatal">
									Fatal </label>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">

			<div class="container spacer">
				<p class="text-muted credit">
					James Tyack <a href="http://www.tyack.net" target="_blank">www.tyack.net</a> Data source <a href="http://www.opendatanottingham.org.uk/dataset.aspx?id=84" target="_blank">Open Data Nottingham Traffic Accident Casualties</a>.
				</p>
			</div>

		</div>

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.10.2.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="js/leaflet.js"></script>
		<script src="js/nottingham-traffic.js"></script>
	</body>
</html>