<!DOCTYPE html>
<html>
	<head>
		<title>Nottinghamshire Traffic Accidents</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link href="css/nottingham-traffic.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->

	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Nottinghamshire Traffic Accidents</a>
					</div>
				</div>
			</div>

			<!-- Begin page content -->
			<div class="container">
				<div class="row spacer">
					<div class="col-md-3">
						<div class="btn-group" data-toggle="buttons" id="yearRadios">
							<label class="btn btn-default btn-sm">
								<input type="radio" name="year" id="year2009" value="2009">
								2009 </label>
							<label class="btn btn-default btn-sm">
								<input type="radio" name="year" id="year2010" value="2010">
								2010 </label>
							<label class="btn btn-default btn-sm">
								<input type="radio" name="year" id="year2011" value="2011">
								2011 </label>
							<label class="btn btn-default btn-sm active">
								<input type="radio" name="year" id="year2012" value="2012">
								2012 </label>
						</div>
						<div class="panel panel-default spacer">
							<div class="panel-heading">
								View traffic accidents
							</div>
							<div class="panel-body">
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypeseverity" value="OverallSeverity" checked>
										By severity</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypepedestrian" value="Pedestrian">
										Pedestrian(s) injured</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypetimeOfDay" value="TimeOfDay">
										By time of day</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="mapViewType" id="mapViewTypevehiclesInvolved" value="VehiclesInvolved">
										By number of vehicles involved</label>
								</div>
							</div>
						</div>
						<div class="panel panel-default spacer">
							<div class="panel-heading">
								Filter by severity
							</div>
							<div class="panel-body">
								<div class="radio">
									<label>
										<input type="checkbox" name="severityOptions" id="severitySlight" value="Slight" checked>
										Slight</label>
								</div>
								<div class="radio">
									<label>
										<input type="checkbox" name="severityOptions" id="severitySerious" value="Serious" checked>
										Serious</label>
								</div>
								<div class="radio">
									<label>
										<input type="checkbox" name="severityOptions" id="severityFatal" value="Fatal" checked>
										Fatal</label>
								</div>
							</div>
						</div>

						<div class="panel panel-default spacer">
							<div class="panel-heading">
								Zoom to
							</div>
							<div class="panel-body">
								<button type="button" id="btnShowCity" class="btn btn-default btn-sm">
									Nottingham City
								</button>
								<button type="button" id="btnShowCounty" class="btn btn-default btn-sm">
									County
								</button>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">

			<div class="container spacer">
				<p class="text-muted credit">
					James Tyack <a href="http://www.tyack.net" target="_blank">www.tyack.net</a> Data source <a href="http://www.opendatanottingham.org.uk/dataset.aspx?id=84" target="_blank">Open Data Nottingham Traffic Accident Casualties</a>.
				</p>
			</div>

		</div>

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.10.2.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="js/leaflet.js"></script>
		<script src="js/nottingham-traffic.js"></script>
	</body>
</html>