<div id="header" style="width: 100%; height: 22px">
	
			<select>
				<% zones.each do | zone | %>
				<option value="<%= zone['_id'] %>"><%= zone['name'] %></>
				<% end %>
			</select>
		</div>
		<div id="map-canvas" style="width: 100%; height: 100%"></div>