<div id="header" style="background-color: #ffffff"><h1><img src="/images/phillybusexplorer_banner.png" /></h1>
	View buses passing thru <select>
		<% zones.each do | zone | %><option value="<%= zone['_id'] %>"><%= zone['name'] %></>
		<% end %>
	</select>
<!--	View buses passing thru <select>
		<% zones.each do | zone | %><option value="<%= zone['_id'] %>"><%= zone['name'] %></>
		<% end %>
	</select>-->
</div>

<div id="container">
	<!-- <div id="left">SIDEBAR SCROLLABLE</div> -->
    <div id="mapcontainer">MAP</div>
</div>


<div id="footer" style="background-color: black"><span id="footer-span">James Tyack <a href="http://www.tyack.net/wp" target="_blank">www.tyack.net</a> | Data source: <a href="http://www3.septa.org/hackathon/" target="_blank">SEPTA Developer APIs</a></span></div>