<!DOCTYPE html>
<html>
	<head>
		<title>Philly Bus Explorer - View SEPTA bus routes by neighborhood</title>
		<link rel="stylesheet" type="text/css" href="css/explorer_map.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="js/markerAnimate.js"></script>
		<script type="text/javascript" src="js/markerwithlabel.js"></script>
		<script type="text/javascript" src= "js/busExplorer.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32865952-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
<div id="header" style="background-color: #ffffff"><h1><img src="/images/phillybusexplorer_banner.png" /></h1>
	View buses passing thru <select>
		<% zones.each do | zone | %><option value="<%= zone['_id'] %>"><%= zone['name'] %></>
		<% end %>
	</select>
<!--	View buses passing thru <select>
		<% zones.each do | zone | %><option value="<%= zone['_id'] %>"><%= zone['name'] %></>
		<% end %>
	</select>-->
</div>

<div id="container">
	<!-- <div id="left">SIDEBAR SCROLLABLE</div> -->
    <div id="mapcontainer">MAP</div>
</div>
<div id="footer" style="background-color: black"><span id="footer-span">James Tyack <a href="http://www.tyack.net/wp" target="_blank">www.tyack.net</a> | Data source: <a href="http://www3.septa.org/hackathon/" target="_blank">SEPTA Developer APIs</a></span></div>
</body>
</html>
