html {
	height: 100%;
}

body {
	height: 100%;
	padding:0px;
  	margin:10px;
}

h1 {
	font-size: 1.5em;
	padding:0px;
  	margin: 0px;
}

#header {
	font-family: "Lucida Grande", "Arial", sans-serif;
	background-color:#BBC8ED; 
	width:100%;  
}

#map-canvas {
	height: 100%
}
.labels {
	color: orange;
	background-color: black;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	width: 16px;
	border: 1px solid #B0B0B0;
	white-space: nowrap;
}